body {
    background: #3a3ad6;
}

.clock {
    font-size: 4em;
    text-align: center;
    margin: 20px auto;
    color: #8b61de;
    font-family: Arial;
}

.clock span {
    padding: 20px;
    background: rgb(70, 83, 229);
}